 
<div class="container mb-5" >

  <div class="row mt-4 mb-4">
    <div class="col-md-10 mx-auto">
        <h2 class="mt-2 mb-2 font-weight-bold text-center">編 輯 支 出</h2>
        <a type="button" href="/" class="btn btn-warning btn-sm mt-3 "><i class="fas fa-arrow-alt-circle-left"></i>  Back</a>
    </div>
  </div>

  <form action="/record/{{record._id}}?_method=PUT" method="POST" class="row mb-5 ">
    
    <div class="col-12 col-md-10 mx-auto p-5 shadow-lg transparent__card">

    <div class="row ml-1 mb-1 text-muted">
      <label for="validationServer01">
          <span class="tip text-secondary font-weight-bold ">*</span>
          為必填　未填寫將自動填入預設值</label>
    </div>

     <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">名稱<span class="tip text-secondary font-weight-bold ">*</span></label>
        <div class="col-sm-10">
            <input type="text" aria-label="First name" class="form-control" value="{{record.name}}" name="name" placeholder="輸入開銷名稱" spellcheck="false" >
        </div>
    </div>

    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">類別<span class="tip text-secondary font-weight-bold ">*</span></label>
        <div class="col-sm-10">
            <select name="category" value=""  class="custom-select form-control" id="inputGroupSelect01">
                <option value="{{record.category}},{{record.tag}}">{{record.category}}</option>
                {{#each categories}}
                <option value="{{this.name}},{{this.tag}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>

     <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">店家</label>
        <div class="col-sm-10">
            <input type="text" aria-label="First name" class="form-control" value="{{record.merchant}}" placeholder="輸入店家名稱" spellcheck="false" name="merchant">
        </div>
    </div>

     <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">日期<span class="tip text-secondary font-weight-bold ">*</span></label>
        <div class="col-sm-10">
            <input id="dateSelecter" type="text" aria-label="First name" class="form-control" value="{{record.date}}"  spellcheck="false" name="date" readonly>
        </div>
    </div>

    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">金額<span class="tip text-secondary font-weight-bold ">*</span></label>
        <div class="col-sm-10">
            <input  type="text" aria-label="First name" class="form-control" value="{{record.amount}}" placeholder="輸入開銷金額" spellcheck="false" name="amount" oninput="value=value.replace(/[^\d]/g,'')">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-8">
            <button type="button" class="btn btn-secondary btn-lg btn-block shadow"  data-toggle="modal" data-target="#ModalSave" ><i class="fas fa-save"></i> 儲存</button>
        </div>
        <div class="col-lg-4">
            <button type="button" class="btn btn-link text-danger btn-lg btn-block delete__btn" data-id="{{record._id}}" data-toggle="modal" data-target="#ModalDelete">刪除</button>
        </div>

        {{!-- <div class="col-lg-12 text-center p-2">or</div> --}}

    </div>

    </div>

    <div class="modal fade" id="ModalSave" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">儲存確認</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            您確定要儲存該筆資訊嗎?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-secondary">確認儲存</button>
            </div>
        </div>
        </div>
    </div>

  </form>

</div>

