<!-- search bar -->
<div class="container search-bar mt-5">

  <form action="/search" class="search__form">
    
    <div class="input-group ">

      <div class="dropdown shadow sorter">
        <button class="btn btn-info btn-block dropdown-toggle sorter__text" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          搜尋類別
          {{!-- {{#if queryArr.filterCategory}}
            {{queryArr.filterCategory}}
            {{else}}
            類別
          {{/if}} --}}
        </button>
        <div type="submit" class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button name="filterCategory" value="" class="dropdown-item">選擇開銷類型</button>
          <div class="dropdown-divider"></div>
          {{#each categories}}
            <button name="filterCategory" value="{{ this }}" class="dropdown-item">{{ this }}</button>
          {{/each}}
        </div>
      </div>
      
    </div>

  </form>

</div>

<div class="container mt-5 ">
  <div class="row mb-5">
    <div class="col-md-12  p-3 mx-auto">

        <ul class="list-group">
        {{#each record}}

          <li class="list-group-item">

            <div class="row align-items-center">

              <div class="row col-10 mr-auto align-items-center">

                <div class="row col-md-9">
                  <h3 class="col-auto pl-3 pt-2 imagine text-center text-info ">
                    <i class="{{this.tag}}"></i>
                  </h3>
                  <div class="col-md-8">
                    <big class=" font-weight-bold font-size-6">{{this.name}}</big>
                    <div class=" font-weight-light">{{this.date}}</div>
                  </div>
                </div>

                <div class="col-md-3">
                  <big class="font-weight-bold font-size-6">$ {{this.amount}}</big>
                </div>

              </div>

              <div class="col-auto mt-2 mb-2">
                <a type="button" href="./record/{{this._id}}/edit" class="btn btn-warning btn-sm  shadow-sm">修改</a>
                <button type="button" class="btn btn-outline-secondary btn-sm delete__record__btn shadow-sm" data-toggle="modal" data-target="#ModalDelete" data-id="{{this._id}}">刪除</button>
              </div>

            </div>
          </li>


        {{/each}}
        </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12  mx-auto">
       <a type="button" href="/record/new" class="btn btn-secondary btn-lg btn-block"><i class="far fa-plus-square"></i> 新增支出</a>
    </div>
  </div>
 
</div>


